@import "../lib/_helper.scss";

.output-view-table {
    background: #000;opacity: .7;
    padding: 1em;margin: 2em auto;
    color: $activeColor;
    width: 90%;

    &-td {
        white-space: pre;

        &:first-child {
            color: $activeColor;

        }

        &:nth-child(2) {
            color: $blue;
        }

        &:last-child {
            color: $warningColor;

            svg {
                color: #fff;width: 2em;height: 2em;
            }
        }
    }
}