@import "../lib/_helper.scss";

.output-view {
    background: #000;opacity: .7;
    padding: 1em;margin: 2em 1em;
    color: $activeColor;

    > .view-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > svg {
            color: $mainColor;
            margin: 0 1em;
        }

        span:last-child {
            color: $warningColor;

            svg {
                color: #fff;width: 2em;height: 2em;
            }
        }
    }
}