@import "./lib/index";
@import "./lib/_helper.scss";
.page {
    width: 100%;
    font-size: $font;
    @mixin padding {
        padding: 1em;
    };


    > header {
        background: RGBA(36, 36, 36, 1.00);
        @include padding();color: $activeColor;
    }

    > div {
        display: flex;background: RGBA(244, 244, 244, 1.00);
        justify-content: space-between;flex-wrap: wrap;

        > aside {
            max-width: 8em;min-height: 700px;
            margin-right: 1em;
            @include padding();
            background: RGBA(138, 136, 110, 1.00);

            a {
                color: RGBA(252, 217, 214, 1.00);

                &:hover {
                    opacity: .6;
                }

                &.active {color: $activeColor;}
            }

            > ul {
                > li {
                    padding: .5em 0;

                    > header {
                        cursor: pointer;

                        > svg {
                            vertical-align: middle;fill: $lineColor;
                        }

                        > span {
                            color: $lineColor;margin-left: 0.5em;
                        }

                        &.active {
                            > span {color: $activeColor;}

                            > svg {fill: $activeColor;}
                        }

                    }
                }
            }
        }

        > main {
            @include padding();border-left: 1px solid $lineColor;
            min-width: 200px;
            width: calc(100% - 9rem);

            > h3 {
                color: $lineColor;border-bottom: 1px solid $lineColor;
            }

            > h4 {
                color: $lineColor;text-align: center;
            }

            > .buttons {
                > .yr-button {
                    margin: .5em;
                }
            }

            > .dialogs {
                display: inline-flex;justify-content: space-between;flex-wrap: wrap;
                width: 100%;
                > .yr-button {
                    margin: .5em 0;
                }
            }

            > .yr-layoutExample {
                height: 90%;

                > .yr-layout {
                    margin: 3em 0;
                }
            }
        }
    }
}

