@import "./lib/index";
@import "./lib/_helper.scss";

.page {
    width: 100%;
    font-size: $font;
    @mixin padding {
        padding: .7em;
    };
    background: #FFFBE5;

    > .yr-layout-header {
        background: #656565;
        color: $activeColor;
        height: 5em;
        position: relative;

        > img {
            height: 100%;
        }


    }

    > .yr-layout-footer {
        background: lighten(#857516, 60%);
        padding: 1em;
        text-align: center; color: lighten(#000, 40%);

        svg, span {
            vertical-align: middle;margin: 0 .3em;
        }
    }

    > .yr-layout {
        background: RGBA(244, 244, 244, 1.00);
        flex-wrap: wrap;

        > .yr-layout-aside {
            max-width: 8em;min-height: 100%;
            margin-right: 1em;
            background: RGBA(138, 136, 110, 1.00);

            a {
                color: RGBA(252, 217, 214, 1.00);
                display: block;

                &:hover {
                    opacity: .6;
                }

                @include padding();

                &.active {color: $activeColor;background: desaturate($mainColor, 30%);}
            }

            > ul {
                > li {
                    padding: .5em 0;

                    > header {
                        cursor: pointer;
                        @include padding();
                        > svg {
                            vertical-align: middle;fill: $lineColor;
                        }

                        > span {
                            color: $lineColor;margin-left: 0.5em;
                        }

                        &.active {
                            > span {color: $activeColor;}

                            > svg {fill: $activeColor;}
                        }

                    }
                }
            }
        }

        > .yr-layout-content {
            @include padding();border-left: 1px solid $lineColor;
            min-width: 150px;
            width: calc(100% - 9rem);

            > h3 {
                color: $lineColor;border-bottom: 1px solid $lineColor;
            }

            > h4 {
                color: $lineColor;text-align: center;
                margin: 1em 0;
            }

            > .buttons {
                > .yr-button {
                    margin: .5em;
                }
            }

            .yr-button {
                margin: 1em 0;
            }

            > .dialogs {
                display: inline-flex;justify-content: space-between;flex-wrap: wrap;
                width: 100%;

                > .yr-button {
                    margin: .5em 0;
                }
            }

            pre {
                font-family: 'Fira Code Medium', Consolas, monospace;
                margin: 2em 0;overflow-x: scroll;
                padding: 2em;
            }
            > .yr-layoutExample {
                padding: 1em 0;
                color: #fff;
                background: #EBE5AB;

                h3 {color: $lineColor;margin: 2em 0; text-align: center;}

                > .yr-layout {
                    margin: 3em auto;max-width: 700px;
                    background: $lineColor;
                    border-bottom: 1px solid $lineColor;
                }

                font-weight: 700;

                .yr-layout-header {
                    background: #8994F1;
                    margin: 5px;line-height: 3em;
                }

                .yr-layout-content {
                    background: lighten(#8994F1, 10%); margin: 5px;

                }

                .yr-layout-footer {
                    background: #8994F1; margin: 5px;line-height: 3em;

                }

                .yr-layout-aside {
                    background: #58725F;margin: 5px;width: 40%;
                }
            }
        }
    }
}

